---
Checks: >
  -*,
  modernize-use-nullptr, 
  readability-simplify-boolean-expr,
  readability-identifier-naming
CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.MethodCase
    value: camelBack
  - key: readability-identifier-naming.GlobalFunctionCase
    value: camelBack